<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tech Blog</title>
</head>
<body>
    
    <header>
        <nav>
            <div id="tech">
                <h1>Tech Blog</h1>
            </div>
            <div id="nav">
                <a href="/"><h2>Home</h2></a>
                {{#if logged_in}}
                <a href="/dashboard"><h2>Dashboard</h2></a>
                <a href="/api/users/logout"><h2>Logout</h2></a>
                {{else}}
                <a href="/login"><h2>Login/Signup</h2></a>
                {{/if}}
            </div>
        </nav>
    </header>

    {{{body}}}
    <footer>

    </footer>
</body>
</html>