<form action="" id="post">
    <input type="text" placeholder="title" id="title">
    <input type="text" placeholder="text" id="text">
    <button>Create New Post</button>
</form>

{{#each posts as |post|}}
<a href="/dashboard/{{id}}">
<div>
    <div>
        <h2>{{title}}</h2>
    </div>
    <div>
        <p>{{text}}</p>
    </div>
</div>
</a>
{{/each}}

<script src="/js/dashboard.js"></script>