<div>
    <div>
        <h2>{{post.dataValues.title}}</h2>
        <p>{{post.dataValues.text}}</p>
    </div>
    <button id="delete">Delete Post</button>
    <h2>Update?</h2>
    <form action="" id="update">
        <input type="text" placeholder="title" id="title">
        <input type="text" placeholder="text" id="text">
        <button id="delete">Update Post</button>
    </form>
</div>

<script src="/js/editPost.js"></script>