<main>
    {{#each posts as |post|}}
        <div>
            <div>
                <h2>{{title}}</h2>
                <h3>post by user on date</h3>
            </div>
            <div>
                <p>{{text}}</p>
            </div>
        </div>
    {{/each}}
</main>